In [2]:
import pandas as pd
import seaborn as sns
import re

In [15]:
movies = pd.read_csv(r'C:\Users\SHASHI\OneDrive\Course Work\Data Analytics\movies.csv')

In [3]:
movies.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

In [20]:
movies.columns

Index(['MOVIES', 'YEAR', 'GENRE', 'RATING', 'ONE-LINE', 'STARS', 'VOTES',
       'RunTime'],
      dtype='object')

In [21]:
movies.isnull().sum() / movies.shape[0]

MOVIES      0.000000
YEAR        0.064406
GENRE       0.008001
RATING      0.182018
ONE-LINE    0.000000
STARS       0.000000
VOTES       0.182018
RunTime     0.295830
dtype: float64

In [17]:
movies = movies.dropna(how= 'all', axis = 0 )
movies = movies.dropna(how= 'all', axis = 1 )

In [19]:
movies = movies.drop('Gross', axis=1)

In [22]:
movies.fillna(method = 'ffill'  , inplace= True )

In [23]:
movies.isnull().sum()

MOVIES      0
YEAR        0
GENRE       0
RATING      0
ONE-LINE    0
STARS       0
VOTES       0
RunTime     0
dtype: int64

In [24]:
movies.tail()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime
9994,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",8.8,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,433,38.0
9995,Arcane,(2021– ),"\nAnimation, Action, Adventure",8.8,\nAdd a Plot\n,\n,433,38.0
9996,Heart of Invictus,(2022– ),"\nDocumentary, Sport",8.8,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,433,38.0
9997,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",8.8,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,433,38.0
9998,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",8.8,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,433,38.0

In [25]:
movies['ONE-LINE'].unique()

array(['\nA woman with a mysterious illness is forced into action when a group of terrorists attempt to hijack a transatlantic overnight flight.',
       '\nThe war for Eternia begins again in what may be the final battle between He-Man and Skeletor. A new animated series from writer-director Kevin Smith.',
       '\nSheriff Deputy Rick Grimes wakes up from a coma to learn the world is in ruins and must lead a group of survivors to stay alive.',
       ...,
       "\nLenore urges Hector to not test Camilla's patience. Belmont and Sypha cross paths with Zamfir, a fearsome guard with a suspicious mind.",
       '\nActor Brian Tyree Henry ("Godzilla vs. Kong", "Atlanta", "The Woman in the Window"); guest co-hosts Jerry O\'Connell and Justin Baldoni;',
       "\nAs Paxton's mixed messages have Devi questioning herself, the upcoming winter dance offers a chance to determine where she stands- and what she needs."],
      dtype=object)

In [26]:
import re

In [32]:
# extract groups having a vowel followed by 
# any character 
sr = movies['GENRE']

In [33]:
sr

0           \nAction, Horror, Thriller
1       \nAnimation, Action, Adventure
2            \nDrama, Horror, Thriller
3       \nAnimation, Adventure, Comedy
4              \nAction, Crime, Horror
                           ...
9994       \nAdventure, Drama, Fantasy
9995    \nAnimation, Action, Adventure
9996              \nDocumentary, Sport
9997       \nAdventure, Drama, Fantasy
9998       \nAdventure, Drama, Fantasy
Name: GENRE, Length: 9999, dtype: object

In [37]:
genre = sr.str.extract(pat = '(\w.*)') 

# print the result 
print(genre)

                                             0
0         Action, Horror, Thriller
1     Animation, Action, Adventure
2          Drama, Horror, Thriller
3     Animation, Adventure, Comedy
4            Action, Crime, Horror
...                                        ...
9994     Adventure, Drama, Fantasy
9995  Animation, Action, Adventure
9996            Documentary, Sport
9997     Adventure, Drama, Fantasy
9998     Adventure, Drama, Fantasy

[9999 rows x 1 columns]

In [38]:
movies['GENRE'] = genre

In [54]:
plot = movies['ONE-LINE'].mode()
plot

0    \nAdd a Plot\n
Name: ONE-LINE, dtype: object

In [55]:
sr2 = plot.str.extract(pat = r"\n.*\n")

ValueError: pattern contains no capture groups

In [1]:
re.findall(r"\n", "",plot)

NameError: name 're' is not defined