In [2]:
import pandas as pd

In [12]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'department': ['Accounting', 'Engineering', 'Engineering', 'HR'],
                   'region': ['Toronto', 'Montreal', 'Winnipeg', 'Calgary']
                   })
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014],
                  'travel_required': ['yes', 'yes', 'no', 'yes']
                   })
display(df1, df2)

  employee   department    region
0      Bob   Accounting   Toronto
1     Jake  Engineering  Montreal
2     Lisa  Engineering  Winnipeg
3      Sue           HR   Calgary

  employee  hire_date travel_required
0     Lisa       2004             yes
1      Bob       2008             yes
2     Jake       2012              no
3      Sue       2014             yes