# Working with Lists

In [1]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [2]:
#Do lists need to have all the same data types?

In [2]:
list1 = ["abc", 34, True, 40, "male"]

In [3]:
print(list1)

['abc', 34, True, 40, 'male']

In [4]:
print(list1[-2])

40

In [5]:
#Print second item

In [6]:
print(mylist[1])

banana

In [7]:
#Print last item

In [8]:
print(mylist[-1])

cherry

In [5]:
#Print 3rd, 4th, 5th item (note that index [5] is not included)
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[4:6])

['kiwi', 'melon']

In [9]:
#This prints from beginning until orange, excluding [4] which is kiwi
print(thislist[:3])

['apple', 'banana', 'cherry']

In [10]:
print(thislist[3:])

['orange', 'kiwi', 'melon', 'mango']

In [11]:
#This prints from cherry to the end
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [12]:
#Changing items in a list
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [13]:
#Change a range of item values
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [14]:
#Insert a new list item
thislist.insert(2, "dragon fruit")
print(thislist)

['apple', 'blackcurrant', 'dragon fruit', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [15]:
#Remove items
thislist.remove("orange")
print(thislist)

['apple', 'blackcurrant', 'dragon fruit', 'watermelon', 'kiwi', 'melon', 'mango']

In [16]:
#Remove a specific indexed item
thislist.pop(1)
print(thislist)

['apple', 'dragon fruit', 'watermelon', 'kiwi', 'melon', 'mango']

In [17]:
#If you don't specify for pop() then the last item is removed
thislist.pop()
print(thislist)

['apple', 'dragon fruit', 'watermelon', 'kiwi', 'melon']

In [11]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [13]:
thislist[3] = 'strawberry'
thislist

['apple', 'banana', 'cherry', 'strawberry', 'kiwi', 'melon', 'mango']

In [14]:
thislist[-1] = 'blueberry'
thislist

['apple', 'banana', 'cherry', 'strawberry', 'kiwi', 'melon', 'blueberry']

In [17]:
thislist.pop(2)
thislist

['apple', 'banana', 'strawberry', 'kiwi', 'guava', 'blueberry']

In [18]:
#Sort lists alphabetically
thislist.sort()
print(thislist)

['apple', 'dragon fruit', 'kiwi', 'melon', 'watermelon']

In [19]:
#Join lists
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [20]:
#Insert items

thislist.insert(1, "orange")

In [21]:
#1. Print the second item in the fruits list.
fruits = ["apple", "banana", "cherry"]
print()

#2. Change the value from "apple" to "kiwi", in the fruits list.

fruits[0] = 'kiwi'

#3.  add "lemon" as the second item in the fruits list.
fruits.insert(1, "Lemon")

#4. remove "banana" from the fruits list.

fruits.remove("banana")

#5. print the last item in the list.
print(fruits[-1])

#6. print the third, fourth, and fifth item in the list.
print(fruits[3:])

cherry
[]

# Dictionaries

In [32]:
##Example of a dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [18]:
#Dictionary items
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [31]:
thisdict['year']

2020

In [19]:
thisdict["model"]

'Mustang'

In [20]:
#Duplicate values not allowed, the key will overwrite the previous
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [21]:
#Looping through dictionary values

#Option 1:
for x in thisdict:
  print(thisdict[x])

#Option 2:
for x in thisdict.values():
  print(x)

Ford
Mustang
2020
Ford
Mustang
2020

In [22]:
#Loop through both keys and values
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 2020

In [23]:
for key in thisdict.keys():
  print(key)

brand
model
year

In [24]:
#Get values based on a given key of a dictionary e.g. value of the model key
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("model")

print(x)

Mustang

In [37]:
car.update({'year':'2020'})
car

{'brand': 'Ford', 'model': 'Focus', 'year': '2020'}

In [25]:
#Insert an item into a dictionary
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color": "White"})

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

In [26]:
#Change a value in a dictionary
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car["model"] = "Focus"
car

{'brand': 'Ford', 'model': 'Focus', 'year': 1964}

In [27]:
#Nested dictionaries
#You will typically see dictionaries in the form of nested dictionaries when
#dealing with any data science task, because of dealing with JSONs



#The following has 3 dictionaries within 1 dictionary
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily["child1"]["name"])

Emil

In [30]:
print(myfamily['child2']['year'])

2007

In [42]:

students = {
    "student1" : {
        "name" : "Charleston",
        "grade" : 90
    },
    "student2" : {
        "name" : "Florence",
        "grade" : 85
    },
    "student3" : {
        "name" : "Linus",
        "grade" : 70
    }
}

print("Charleston" in students.values())

False

In [43]:
print(students['student2']['grade'])

85

# Variable Types & Assignments

In [22]:
studentA = 'John'
studentB = 'Smith'

print(studentA )
print(type(studentA ))

John
<class 'str'>

In [23]:
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "John"       # A string

print (counter)
print (miles)
print (name)

100
1000.0
John

In [24]:
print(counter+miles)

1100.0

In [25]:
mileage_truck = 300
mileage_car = 200

In [26]:
print(mileage_car)

200

In [27]:
mileage_car = mileage_truck

In [28]:
print(mileage_car)
print(mileage_truck)

300
300

In [29]:
mileage_car = 200
print(mileage_car)

200

In [30]:
mileage_car = mileage_truck
print(mileage_car)

300

In [31]:
name = "John"
grades = (10, 20, 30 , 40, 50)

print(type(name))
print(type(grades))

<class 'str'>
<class 'tuple'>

# Conditionals

In [33]:
#if conditionals
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [34]:
#elif conditionals
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [35]:
#else conditionals
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [36]:
#and conditionals
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [37]:
#or conditionals
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [38]:
list = [1, 2, 3, 4, 5]
print(len(list))

5

In [39]:
fruits = ["apple", "orange", "dragonfruit", "watermelon", "lychee"]
if len(fruits) > 4:
    print("over 4")


print(len(fruits))

over 4
5

In [40]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [41]:
a = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

if a[-7] == "apple":
    print("exists")
elif a[5] == "pineapple":
    print("not found")

exists

In [50]:
a = 40
b = 33
c = 500

if a > b or a > c:
    print ("At least one of the conditions is True")

At least one of the conditions is True

In [51]:
a = 30
b = 33
c = 500

if a > b or a > c:
    print("At least one of the conditions is True")
else:
    print("None of the conditions are True")

None of the conditions are True