In [1]:
import pandas as pd

In [7]:
stocks = pd.read_csv(r'C:\Users\SHASHI\OneDrive\Analytics\Datasets\Toronto-Stock-Exchange-Statistics\10100125.csv')
metadata = pd.read_csv(r'C:\Users\SHASHI\OneDrive\Analytics\Datasets\Toronto-Stock-Exchange-Statistics\10100125_MetaData.csv')

In [3]:
stocks.head()

,REF_DATE,GEO,DGUID,Toronto Stock Exchange Statistics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1956-01,Canada,2016A000011124,Standard and Poor's/Toronto Stock Exchange Com...,"Index, 2000=1000",176,units,0,v122620,1.3,525.63,NaN,NaN,NaN,2
1,1956-01,Canada,2016A000011124,"Toronto Stock Exchange, oil and gas, closing q...","Index, 2000=1000",176,units,0,v122621,1.4,485.02,NaN,NaN,t,2
2,1956-01,Canada,2016A000011124,"Toronto Stock Exchange, metals and minerals, c...","Index, 2000=1000",176,units,0,v122622,1.5,729.73,NaN,NaN,t,2
3,1956-01,Canada,2016A000011124,"Toronto Stock Exchange, utilities, closing quo...","Index, 2000=1000",176,units,0,v122623,1.6,914.11,NaN,NaN,t,2
4,1956-01,Canada,2016A000011124,"Toronto Stock Exchange, paper and forest produ...","Index, 2000=1000",176,units,0,v122624,1.7,1013.23,NaN,NaN,t,2

In [8]:
metadata.tail()

,Cube Title,Product Id,CANSIM Id,URL,Cube Notes,Archive Status,Frequency,Start Reference Period,End Reference Period,Total number of dimensions
1,"As of January 2017, this data is obtained from...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Beginning in August 2001 the price earning rat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Prior to January 2017, the information present...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Please note that this table is no longer being...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Correction ID,Correction Date,Correction Note,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
stocks.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Toronto Stock Exchange Statistics', 'UOM',
       'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE', 'VALUE',
       'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS'],
      dtype='object')

In [6]:
stocks.isnull().sum()/stocks.shape[0]

REF_DATE                             0.000000
GEO                                  0.000000
DGUID                                0.000000
Toronto Stock Exchange Statistics    0.000000
UOM                                  0.000000
UOM_ID                               0.000000
SCALAR_FACTOR                        0.000000
SCALAR_ID                            0.000000
VECTOR                               0.000000
COORDINATE                           0.000000
VALUE                                0.001225
STATUS                               0.998775
SYMBOL                               1.000000
TERMINATED                           0.486524
DECIMALS                             0.000000
dtype: float64

In [9]:
metadata.columns

Index(['Cube Title', 'Product Id', 'CANSIM Id', 'URL', 'Cube Notes',
       'Archive Status', 'Frequency', 'Start Reference Period',
       'End Reference Period', 'Total number of dimensions'],
      dtype='object')

In [12]:
metadata.shape

(57, 10)

In [11]:
metadata.isnull().sum()/metadata.shape[0]

Cube Title                    0.017544
Product Id                    0.912281
CANSIM Id                     0.491228
URL                           0.964912
Cube Notes                    0.771930
Archive Status                0.947368
Frequency                     0.964912
Start Reference Period        0.982456
End Reference Period          0.982456
Total number of dimensions    1.000000
dtype: float64

In [13]:
stocks.shape

(11428, 15)

In [14]:
stocks['Toronto Stock Exchange Statistics'].value_counts()

Toronto Stock Exchange Statistics
Standard and Poor's/Toronto Stock Exchange Composite Index, close                          813
Toronto Stock Exchange, stock dividend yields (composite), closing quotations              729
Toronto Stock Exchange, price earnings ratio, closing quotations                           729
Standard and Poor's/Toronto Stock Exchange Composite Index, high                           573
Standard and Poor's/Toronto Stock Exchange Composite Index, low                            573
Toronto Stock Exchange, oil and gas, closing quotations                                    570
Toronto Stock Exchange, metals and minerals, closing quotations                            570
Toronto Stock Exchange, utilities, closing quotations                                      570
Toronto Stock Exchange, paper and forest products, closing quotations                      570
Toronto Stock Exchange, merchandising, closing quotations                                  570
Toronto Stock Exchange, financial services, closing quotations                             570
Toronto Stock Exchange, gold and silver, closing quotations                                570
Standard and Poor's/Toronto Stock Exchange 60 Index                                        501
Standard and Poor's/Toronto Stock Exchange Canadian Consumer Discretionary Index           310
Standard and Poor's/Toronto Stock Exchange Canadian Consumer Staples Index                 310
Standard and Poor's/Toronto Stock Exchange Canadian Energy Index                           310
Standard and Poor's/Toronto Stock Exchange Canadian Financial Index                        310
Standard and Poor's/Toronto Stock Exchange Canadian Gold Index                             310
Standard and Poor's/Toronto Stock Exchange Canadian Industrial Index                       310
Standard and Poor's/Toronto Stock Exchange Canadian Information Technology Index           310
Standard and Poor's/Toronto Stock Exchange Canadian Materials Index                        310
Standard and Poor's/Toronto Stock Exchange Canadian Telecommunication Service Index        310
Standard and Poor's/Toronto Stock Exchange Canadian Utilities Index                        310
Standard and Poor's/Toronto Stock Exchange Canadian Diversified Metals and Mining Index    224
Toronto Stock Exchange, Toronto 35 index, closing quotations (May 27 1987=100)             196
Name: count, dtype: int64

In [15]:
stocks.describe()

,UOM_ID,SCALAR_ID,COORDINATE,VALUE,SYMBOL,DECIMALS
count,11428.000000,11428.0,11428.000000,11414.000000,0.0,11428.000000
mean,180.385457,0.0,1.316880,2759.879597,NaN,1.965698
std,29.795304,0.0,0.242578,5500.300528,NaN,0.259678
min,160.000000,0.0,1.100000,0.980000,NaN,0.000000
25%,160.000000,0.0,1.140000,142.572500,NaN,2.000000
50%,176.000000,0.0,1.200000,682.505000,NaN,2.000000
75%,176.000000,0.0,1.400000,3068.190000,NaN,2.000000
max,270.000000,0.0,1.900000,59478.000000,NaN,2.000000